<meta charset="utf-8">
<div style="text-align: center; font-family: Ubuntu;">

<form action="http://localhost/agenda/models/cad.php" method="POST">
	<b>Novo Contato!</b><br>
	<input type="text" name="nome" required placeholder="Nome Completo"><br>
	
	<input type="email" name="email" required placeholder="Email"><br>
	
	<input type="text" name="telefone" required placeholder="Telefone (00) 0000-0000"><br>

	<textarea name="endereco" placeholder="Endereço" required></textarea><br>
	
	Sexo: M<input type="radio" name="sexo" value="Masculino">
		  F<input type="radio" name="sexo" value="Feminino"><br><br>

	<input type="submit" value="Criar novo contato!">
</form>

</div>